header {
    background-color: var(--Very-light-red);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 6rem;
}

.menubar {
    font-family: "Overpass", sans-serif;
}

.name{
    display: flex;
    justify-content: space-between;
}

.menubar p {
    font-size: 30px;
    font-weight: 700;
    color: var(--White);
    float: left;
    padding: 10px 20px;
}

.menubar ul {
    float: left;
}

.menubar ul li {
    float: left;
    list-style: none;
    position: relative;
}

.menubar ul li a {
    text-decoration: none;
    padding: 20px 10px;
    display: block;
    color: var(--White);
}

.menubar ul li ul {
    position: absolute;
    display: none;
    background-color: var(--Light-red);
    padding: 10px;
    border-radius: 0 0 4px 4px;
}

.menubar ul li:hover ul{
    display: block;
}

.menubar ul li ul li{
    width: fit-content;
    border-radius: 4px;
}

.menubar ul li ul li a{
    padding: 8px 14px;
}

.menubar ul li ul li a:hover {
    background-color: var(--Very-light-red);
}

.loggins {
    
    margin: auto;
}

.login {
    color: var(--White);
    font-weight: 700;
    border: 0;
    background-color: var(--Very-light-red);
    margin-right: 1rem;
    margin-left: 3rem;
    padding: 0.5rem;
    font-family: "Ubuntu", sans-serif;
    border-radius: 20px;
    text-decoration: none;
}

.signup {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--White);
    padding: 0.5rem 1.8rem 0.5rem 1.8rem;
    border-radius: 20px;
    border: 0;
    color: var(--Light-red);
    font-weight: 700;
    text-decoration: none;
}

.signup:hover {
    color: var(--White);
    background-color: var(--Light-red);
}

.checkbtn {    
    color: var(--White);
    float: right;
    /* line-height: 80px;
    margin-right: 40px; */
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.material-symbols-outlined {
    font-size: 40px;
}

@media screen and (max-width: 37.5rem){
    nav {
        margin: 2rem 3rem;
    }
    
    .checkbtn {
        display: block;
    }

    /* ul {
        
    }

    .menubar ul li {
        
    }

    .menubar ul li a {
        
    } */

}