header {
    background-color: var(--Very-light-red);
}

.menubar {
    font-family: "Overpass", sans-serif;
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

.menubar h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--White);
    margin-right: 2rem;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    flex-grow: 1;
    padding: 0.5rem;
}

.menu li {
    float: left;
    list-style: none;
    position: relative;
    display: flex;
}

.menu ul li a {
    text-decoration: none;
    padding: 20px 10px;
    display: block;
    color: var(--White);
}

.menu ul li ul {
    position: absolute;
    display: none;
    background-color: var(--Light-red);
    padding: 10px;
    border-radius: 0 0 4px 4px;
    top: 3rem;
}

.menu ul li:hover ul{
    display: block;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.menu ul li ul li{
    width: fit-content;
    border-radius: 4px;
}

.menu ul li ul li a{
    padding: 8px 14px;
}

.menu ul li ul li a:hover {
    background-color: var(--Very-light-red);
}

/* .loggins {

} */

.login {
    color: var(--White);
    font-weight: 700;
    border: 0;
    background-color: var(--Very-light-red);
    margin-right: 1rem;
    margin-left: 3rem;
    padding: 0.5rem;
    font-family: "Ubuntu", sans-serif;
    border-radius: 20px;
    text-decoration: none;

    &:hover{
        color: var(--Light-red);
        background-color: var(--White);
    }
}

.signup {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--White);
    padding: 0.5rem 1.8rem 0.5rem 1.8rem;
    border-radius: 20px;
    border: 0;
    color: var(--Light-red);
    font-weight: 700;
    text-decoration: none;
    
    &:hover {
        color: var(--White);
        background-color: var(--Light-red);
    }
}

.burger-menu {
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
}

.burger{
    position: absolute;
    color: var(--White);
    z-index: 50;
    font-size: 30px;
}

.closebtn {
    position: absolute;
    display: none;
    color: var(--White);
    font-size: 30px;
}

/*  */
.show {
    display: flex;
}

.hide {
    display: none;
}

@media screen and (max-width: 37.5rem){
    .menubar {
        justify-content: space-between;
    }

    .menubar h1 {
        font-size: 55px;
    }

    .menu {
        position: fixed;
        top: 11rem;
        right: 15px;
        height: 85%;
        width: 95%;
        background-color: var(--White);
        border-radius: 10px;
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

    .dropmenu {
        display: flex;
    }
    
    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        float: none;
    }
    
    .menu ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        float: none;
        width: 100%;
    }
    
    .menu ul li a {
        color: var(--Very-dark-black-blue);
        font-weight: 700;
    }
    
    .menu a {
        font-size: 35px;
        width: 100%;
    }
    
    .menu > ul li ul {
        position: relative;
        background-color: var(--Grayish-blue);
        border-radius: 10;
        top: -1rem;
        text-align: center;
    }

    .little-drop{
        display: flex;
        flex-direction: column;
    }

    
    .loggins {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid var(--Very-dark-black-blue);
    }
    
    .login {
        background-color: var(--White);
        text-align: center;
        margin: 0.8rem auto;
        color: var(--Very-dark-black-blue);
    }
    
    .signup {
        color: var(--White);
        background-color: var(--Very-light-red);
        padding: 0.8rem 2rem;
        border-radius: 30px;
    }
    
    .burger-menu{
        display: flex;
    }
    
    .burger {
        position: relative;
        font-size: 50px;
    }

    .closebtn {
        color: var(--White);
        position: relative;
        font-size: 50px;
        z-index: 40;
    }

    .modal{
        display: none;
        background: rgba(0, 0, 0, .5);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 4;
    }

    .open-modal{
        display: block;
    }

}