header {
    background-color: var(--Very-light-red);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 6rem;
}

.menubar {
    font-family: "Overpass", sans-serif;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.menubar p {
    font-size: 30px;
    font-weight: 700;
    color: var(--White);
    float: left;
    padding: 10px 20px;
}

.menubar ul {
    float: left;
}

.menubar ul li {
    float: left;
    list-style: none;
    position: relative;
}

.menubar ul li a {
    text-decoration: none;
    padding: 20px 10px;
    display: block;
    color: var(--White);
}

.menubar ul li ul {
    position: absolute;
    display: none;
    background-color: var(--Light-red);
    padding: 10px;
    border-radius: 0 0 4px 4px;
}

.menubar ul li:hover ul{
    display: block;
}

.menubar ul li ul li{
    width: fit-content;
    border-radius: 4px;
}

.menubar ul li ul li a{
    padding: 8px 14px;
}

.menubar ul li ul li a:hover {
    background-color: var(--Very-light-red);
}

.loggins {
    margin: auto;
}

.login {
    color: var(--White);
    font-weight: 700;
    border: 0;
    background-color: var(--Very-light-red);
    margin-right: 1rem;
    margin-left: 3rem;
    padding: 0.5rem;
    font-family: "Ubuntu", sans-serif;
    border-radius: 20px;
    text-decoration: none;
}

.signup {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--White);
    padding: 0.5rem 1.8rem 0.5rem 1.8rem;
    border-radius: 20px;
    border: 0;
    color: var(--Light-red);
    font-weight: 700;
    text-decoration: none;
}

.signup:hover {
    color: var(--White);
    background-color: var(--Light-red);
}


@media screen and (max-width: 37.5rem){
    .menubar p {
        font-size: 55px;
    }
    
    nav {
        margin: 2rem ;
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: var(--White);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 7rem;
    }
    
    .sidebar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    
    .sidebar ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .sidebar ul li a {
        color: var(--Very-dark-black-blue);
        font-weight: 700;
    }

    .sidebar a {
        font-size: 25px;
        width: 100%;
    }
    
    .sidebar ul li ul {
        display: none;
        background-color: var(--Grayish-blue);
        padding: 10px;
        border-radius: 10;
        margin-top: 1rem;
    }
    
    .menubtn{
        display: none;
    }

    .menu {
        display: none;
    }

    .burger {
        display: block;
        width: 9%;
        height: auto;
        margin-top: 1.5rem;
    }

    .closebtn {
        display: block;
        width: 7%;
        height: auto;
        text-align: end;
        
    }
    
    .sidebar {
        width: 100%;
    }
    
    .sidebar .loggins {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid var(--Very-dark-black-blue);
    }

    .login {
        background-color: var(--White);
        text-align: center;
        margin: 0.8rem auto;
        color: var(--Very-dark-black-blue);
    }
    
    .signup {
        color: var(--White);
        background-color: var(--Very-light-red);
        padding: 0.8rem 2rem;
        border-radius: 30px;
    }

    .hideOnMobile {
        display: none;
    }

    .sidebar {
        width: 100%;
    }

    .menubtn {
        display: block;
    }

}